body {
    padding:0;
    margin: 0;
    background-image: url(../images/land02.webp);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    color: rgb(77, 98, 168, 0.9);
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#search {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-heading {
    font-size: 4vw;
    color: white;
}

#buttons {
    display: flex;
    justify-content: center;
}

.form-input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 10px;
    width: 25vw;
    margin-bottom: 10px;
    color: rgb(77, 98, 168, 0.9);
}

::placeholder {
    color: rgb(77, 98, 168, 0.4);
}

#search-button {
    background-color: #ec6e4c;
    color: white;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 10px;
    width: 12vw;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 8px 0px;
}

#clear-button {
    background-color: rgb(77, 98, 168, 0.9);
    color: white;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 10px;
    width: 12vw;
    margin-bottom: 10px;
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 8px 0px;
}

#search-button:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: #ec6e4c;
}

#clear-button:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(77, 98, 168, 0.9);
}

#error-display{
    display: flex;
    justify-content: center;
}

#error-message {
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(77, 98, 168, 0.9);
    border-radius: 15px;
    padding: 5px 10px;
    color: red; 
    font-size: 0.9rem;
    text-align: center;
    width: 25vw;
}

ul {
    list-style: none;
    outline: none;
    padding: 0;
    padding: 0 10px;
    width: 25vw;
}

li {
    margin-bottom: 15px;
    width: 100%;
  }

.history-button {
    background-color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    outline: none;
    border: none;
    color: rgb(77, 98, 168, 1);
    padding: 5px;
    border-radius: 15px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 8px 0px;
}

.history-button:hover {
    background-color: rgb(77, 98, 168, 0.9);
    color: white;
}

#results {
    width: 70vw;
}

#today {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50vh;
}

#today-container {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    width: 100%;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
}

#today-name {grid-area: name;}
#today-date {grid-area: date;}
#today-icon {grid-area: icon1;}
#today-temp {grid-area: temp;}
#today-humidity {grid-area: humidity;}
#today-windSpeed {grid-area: wind;}

#today-textbox {
    margin: 15px;
    display:grid;
    grid-template-areas:
    'name name name'
    'date date date'
    'humidity temp icon1'
    'wind temp icon1';
    gap: 3px;
    text-align: center;
    margin: auto;
    font-size: 2rem;
}

#today-name {
    font-size: 3.7rem;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#today-date {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

#today-icon{
    margin: -40px 0 -40px -50px;
}

#today-temp {
    font-size: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#today-humidity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#today-windSpeed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span {
    font-size: 1rem;
}

#forecast {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.forecast-container{
    background-color: transparent;
    backdrop-filter: blur(20px);    
    width: 18%;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
}

.forecast-container:hover, #today-container:hover {
    box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 8px 0px;
}

.forecast-textbox{
    margin: 10px ;
    color: white;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

#forecast1-date, #forecast2-date, #forecast3-date, #forecast4-date, #forecast5-date {
    font-size: 18px;
}

#forecast1-maxTemp, #forecast2-maxTemp, #forecast3-maxTemp, #forecast4-maxTemp, #forecast5-maxTemp {
    font-size: 1.25rem;
    margin-top: -15px;
}

#forecast1-minTemp, #forecast2-minTemp, #forecast3-minTemp, #forecast4-minTemp, #forecast5-minTemp {
    font-size: 0.9rem;
    margin-top: 3px;
    margin-bottom: 10px;
}

