body {
    padding:0;
    margin: 0;
    background-image: url(../images/land02.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    color: rgb(77, 98, 168, 0.9);
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

/* User Input */
#search {
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-heading {
    font-size: 4vw;
    color: white;
}

#buttons {
    display: flex;
    justify-content: center;
}

.form-input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 10px;
    width: 25vw;
    margin-bottom: 10px;
    color: rgb(77, 98, 168, 0.9);
}

::placeholder {
    color: rgb(77, 98, 168, 0.4);
}

#search-button {
    background-color: #ec6e4c;
    color: white;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 10px;
    width: 12vw;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 8px 0px;
}

#clear-button {
    background-color: rgb(77, 98, 168, 0.9);
    color: white;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 10px;
    width: 12vw;
    margin-bottom: 10px;
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 8px 0px;
}

#search-button:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: #ec6e4c;
}

#clear-button:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(77, 98, 168, 0.9);
}

/* Error Message */
#error-display{
    display: flex;
    justify-content: center;
}

#error-message {
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(77, 98, 168, 0.9);
    border-radius: 15px;
    padding: 5px 10px;
    color: red; 
    font-size: 0.9rem;
    text-align: center;
    width: 25vw;
}

/* Search History Buttons */
ul {
    list-style: none;
    outline: none;
    padding: 0;
    padding: 0 10px;
    width: 25vw;
}

li {
    margin-bottom: 15px;
    width: 100%;
  }

.history-button {
    background-color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    outline: none;
    border: none;
    color: rgb(77, 98, 168, 1);
    padding: 5px;
    border-radius: 15px;
    width: 95%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 8px 0px;
}

.history-button:hover {
    background-color: rgb(77, 98, 168, 0.9);
    color: white;
}

/* Weather Data */
#results {
    width: 68vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Current Day */
#today {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    width: 68vw;
    height: 50vh;
}

#today-container {
    background-color:  rgb(77, 98, 168, 0.3);
    border-radius: 15px;
    width: 70vw;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 8px 0px;
    color: white;  
}

#today-name {grid-area: name;}
#today-date {grid-area: date;}
#today-icon {grid-area: icon1;}
#today-temp {grid-area: temp;}
#today-humidity {grid-area: humidity;}
#today-windSpeed {grid-area: wind;}

#today-textbox {
    margin: 15px;
    display:grid;
    grid-template-areas:
    'name name name'
    'date date date'
    'humidity icon1 temp'
    'wind icon1 temp';
    gap: 3px;
    column-gap: 7vw;
    justify-content: center;
    text-align: center;
    margin: auto;
    font-size: 2rem;
}

#today-name {
    font-size: 4rem;
    color: rgb(77, 98, 168, 1);
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#today-date {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

#today-icon{
    margin: -40px -40px -40px 0px;
}

#today-temp {
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -20px;
}

#today-humidity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#today-windSpeed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span {
    font-size: 1rem;
    font-family: 'Times New Roman', serif;
}

/* Five-Day Forecast */
#forecast {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 65vw;
}

.forecast-container{
    backdrop-filter: blur(20px);    
    width: 18%;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
    background-color: rgba(77,98,168,0.2);
}

.forecast-container:hover, #today-container:hover {
    box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 8px 0px;
}

.forecast-textbox{
    margin: 10px ;
    color: white;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

#forecast1-date, #forecast2-date, #forecast3-date, #forecast4-date, #forecast5-date {
    font-size: 1.25rem;
    font-weight: 500;
}

#forecast1-maxTemp, #forecast2-maxTemp, #forecast3-maxTemp, #forecast4-maxTemp, #forecast5-maxTemp {
    font-size: 1.25rem;
    margin-top: -15px;
}

#forecast1-minTemp, #forecast2-minTemp, #forecast3-minTemp, #forecast4-minTemp, #forecast5-minTemp {
    font-size: 0.9rem;
    margin-top: 3px;
    margin-bottom: 10px;
}

/* Responsive Styling */
@media only screen and (max-width: 1055px){
    body {
        background-size: auto;
        background-position: center;
    }

    #search {
        width: 50vw;
    }

    .form-input, #error-message, ul, hr {
        width: 40vw;
    }

    #search-button, #clear-button {
        width: 15vw; 
    }

    #results, #today {
        width: 50vw; 
    }

    #today-container {
        background-color:rgb(77, 98, 168, 0.6);
        color: white;
        width: 45vw;
    }

    #today-textbox {
        display:grid;
        grid-template-areas:
        'name name name name'
        'date date date date'
        'icon1 icon1 icon1 icon1'
        'temp temp temp temp'
        'humidity humidity wind wind';  
    }

    #today-name {
        color: white;
    }

    #today-temp {
        font-size: 4rem;
    }
    
    #today-humidity {
        font-size: 1.5rem;

    }
    
    #today-windSpeed {
        font-size: 1.5rem;
    }

    #today-icon img {
        height: 170px;
    }

    #forecast-container-1 {grid-area: forecast1;}
    #forecast-container-2 {grid-area: forecast2;}
    #forecast-container-3 {grid-area: forecast3;}
    #forecast-container-4 {grid-area: forecast4;}
    #forecast-container-5 {grid-area: forecast5;}

    #forecast {
        display:grid;
        grid-template-areas:
        'forecast1 forecast2'
        'forecast3 forecast4'
        'forecast5 forecast5';
        column-gap: 1.5vh;
        row-gap: 1.5vh;
        justify-content: center;
        text-align: center;
        height: 60vh;
        width: 70vw;
    }

    .forecast-container{   
        width: 15vh;
    }

    #forecast-container-1, #forecast-container-2 {
        margin-top: -15px;
    }
}

@media only screen and (max-width: 767px){
    #container {
        flex-direction: column;
    }

    #search {
        width: 100vw;
    }

    .form-input, #error-message, ul {
        width: 90vw;
    }

    #search-button, #clear-button {
        width: 40vw; 
    }

    #results, #today, #today-container {
        width: 100vw;  
    }

    #today {
        height: 60vh;
    } 

    #today-icon {
        margin: -40px 0;
    }

    #today-temp {
        font-size: 3rem;
    }

    #forecast {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100vw;
        height:100%;
    }

    .forecast-container{   
        width: 70vw;
    }

    #forecast-container-2 {
        margin-top: 0px;
    }
}
